.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border: 1px solid gray;
}

.form-group {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}



