<div class="body">
  <div class="login">
    <mat-spinner *ngIf="isLoading" diameter="50" class="spinner"></mat-spinner>

    <form *ngIf="!isLoading" [formGroup]="loginForm">
      <!-- <img [src]="logo" alt="" width="50%" height="80%"> -->
      <h1>Mi Banco</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <br>
      <button (click)="login()" class="ancho" mat-raised-button mat-button color="primary">Ingresar</button>
    </form>
  </div>
</div>
