<mat-toolbar color="primary">
  <span>Mi banco - Nueva Transferencia</span>
  <span class="spacer"></span>

  <button mat-button routerLink="/home/accounts">Mis Cuentas</button>
  <button mat-button routerLink="/home/payee">Nuevo Cuenta</button>
  <button mat-button routerLink="/home/history">Historial</button>
  <span class="spacer"></span>
  <span>  {{userName}}  </span>
  <button mat-icon-button (click)="logout()" aria-label="icon-button with menu icon"
    matTooltip="Cerrar Sesión"
  >
  <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
