<mat-toolbar color="primary">
  <span class="spacer"></span>
  <span>Mi banco - Nueva Transferencia</span>
  <button mat-button routerLink="/home/payee">Nuevo Destinatario</button>
  <button mat-button routerLink="/home/transfer">Transferir</button>
  <button mat-button routerLink="/home/history">Historial</button>
  <span class="spacer"></span>
  <button mat-icon-button (click)="logout()" aria-label="icon-button with menu icon"
    matTooltip="Cerrar Sesión"
  >
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
